<%- layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br> <br>
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"
                        placeholder="Enter Description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input name="listing[image]" class="form-control" placeholder="enter image URL/Link" type="text" />
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" class="form-control" placeholder="1299" type="number" />
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" class="form-control" placeholder="India" type="text" />
                </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" class="form-control" placeholder="enter location" type="text" />
                </div>
                <br /><br />
                <button class="btn btn-dark mb-3 add-btn">Add</button>
            </form>
        </div>
    </div>